.App {
  text-align: center;
}

.joke-btn{
  padding: 14px;
  font-style: italic;
  font-size: 18px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  background-color: gray;
  color: white;
}

.joke-btn:hover{
  background-color: aqua;
  color: black;
  font-weight: 700;
  border: 1px solid yellowgreen;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
